*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to bottom, rgb(22, 23, 46), rgb(96, 100, 163));
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

/* TOP NAV */

#back{
    margin: 30px;
}
#back ul{
    display: flex;
    justify-content: left;
}

#back ul li{
    list-style: none;
    margin: 15px;
}
#back ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(96, 100, 163);
}


/* HEADER CONTENT */
header{
    position: relative;
}

h1{
    margin-top: 250px;
    padding: 10px 0px;
    font-weight: 600;
    text-align: center;
}

#button{
    text-align: center;
    font-weight: 400;
    background-color: white;
    border-radius: 30px;
    font-size: 1.5em;
    color: rgb(13, 35, 160);
    border: white 2px solid;   
    text-decoration: none;
    padding: 8px 18px;
    transition: all 200ms;
    margin-top: 100px;
}

#button:hover{
    background-color: rgb(255,255,255, 40%); 
    color: white;
    border: white 2px solid;   
}




.heroImage #bg1{
    position: absolute;
    z-index: -1002;
    top: 0;
}

.heroImage #bg2,
.heroImage #bg3,
.heroImage #bg4,
.heroImage #bg5,
.heroImage #bg6
{
    position: absolute;
    z-index: -1000;
    top: 0;
}




/* BOTTOM CONTENT */
#content{
    position: relative;
    top: 200px;
    height: 500px;
    margin-bottom: 300px;
}

h2{
    margin-top: 15px;
    color: white;    
    font-size: 2em;
    margin-left: 40px;
}

article{
    display: flex;
    margin: auto;
    justify-content: center;
}

article img{
    transition: 500ms;
    transition-delay: 200ms;

    transform: scale(.75);
    border: 1px solid white;
}

article img:hover{
    transform: scale(1);
}



/* BUTTONS ABSOLUTE */
#previous, #next{
    background-color: rgb(255, 255, 255, .3);
    color: white;
    position: absolute;
    height: 45px;
    font-size: 2em;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: 400ms all ;
}

#next{
    padding: 2px 12px 0px 15px;
    margin: 200px 0px 0px 600px;
}
#previous{
    padding: 2px 15px 0px 12px;
    margin: 200px 600px 0px 0px;
}

#previous:hover, #next:hover{
    transform: rotateX(180deg);
    background-color: rgb(255, 196, 129);
}

/* FOOTER */
nav{
    margin: auto;
}
nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

nav ul li a:hover{
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 196, 129);
}

nav ul li a:visited{
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 127, 68);
}



