*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

/*  border: 1px solid tomato;*/
}
body{
    background-image: linear-gradient(to top, rgb(2, 2, 5), rgb(73, 91, 150));
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 9000px;
    overflow-x: hidden;
}

/* TOP NAV */
#back{
    margin: 30px;
}
#back ul{
    display: flex;
    justify-content: left;
}

#back ul li{
    list-style: none;
    margin: 15px;
}
#back ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(96, 100, 163);
}


/* Landing screen */
h1{
    margin-top: 250px;
    padding: 10px 0px;
    font-weight: 600;
    text-align: center;
}
.heroImage #bg1{
    position: absolute;
    z-index: -1002;
    top: 0;
}

.heroImage #bg2,
.heroImage #bg3,
.heroImage #bg4,
.heroImage #bg5,
.heroImage #bg6
{
    position: absolute;
    z-index: -1000;
    top: 0;
}

.journey,
.scroll,
.arrow{
    text-align: center;
    margin: 15px 0;
}

.scroll{
    margin-top: 200px;
    animation: bounce 800ms infinite alternate;
}

.arrow{
    animation: spin 800ms infinite alternate;
    font-size: 2em;
}

@keyframes spin{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}




/* illustration content */
#content{
    position: relative;
    top: 100px;
    height: 500px;
    margin-bottom: 300px;
}

h2{
    margin: 20px 0 60px 40px;
    color: white;    
    font-size: 2em;
}

article{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

#content img{
    margin: 0 auto 70px auto;
    width: 500px; 
}

figcaption{
    font-size: 1.4em;
    padding: 30px 0 10px 0;
    text-align: center;
}



















/* FOOTER */
#footer nav{
    position: absolute;
    top: 1200%;
    left: 50%;
    transform: translate(-50%);
    
}
#footer nav ul{
    display: flex;
}

#footer nav ul li{
    list-style: none;
    margin: 15px;
}
#footer nav ul li a{
    text-decoration: none;
    font-size: 16px;
}

#footer nav ul li a:hover{
    color: white;
}

#footer nav ul li a:visited{
    color: white;
}



